---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$big-font-size:    $base-font-size * 3.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$med-spacing-unit: $spacing-unit * 2.5;
$big-spacing-unit: $spacing-unit * 5;
$content-margin:   10rem;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$footer-icon-color: #FFF;
$footer-link-color: #DCEDC8;

// Width of the content area
$content-width:    800px;
$hortizontal-line-width:   180px;

$on-palm:          600px;
$on-laptop:        800px;

// Get started button colors
$get-started-font-color: #E6E6E6;
$get-started-background-color: #00796B;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
